Code Warm-up: 

Take the following 2 lists and write a program that returns a list that contains only the elements that are common between the 2 lists (without duplicates).

thor_2_cast = ['Chris Hemsworth', 'Natalie Portman', 'Tom Hiddleston', 'Kat Dennings', 'Anthony Hopkins',
               'Jaimie Alexander', 'Idris Elba']
ragnarok_cast = ['Chris Hemsworth', 'Tessa Thompson', 'Cate Blanchett', 'Tom Hiddleston', 'Mark Ruffalo', 
                 'Jeff Goldblum', 'Karl Urban', 'Idris Elba', 'Anthony Hopkins']

In [1]:
lis = [2, 3, 2, 5, 3, 7, 2]

In [2]:
set(lis)

{2, 3, 5, 7}

In [11]:
def find_common(lis1, lis2):
    return list(set(lis1).intersection(set(lis2)))

In [12]:
thor_2_cast = ['Chris Hemsworth', 'Natalie Portman', 'Tom Hiddleston', 'Kat Dennings', 'Anthony Hopkins', 'Jaimie Alexander', 'Idris Elba'] 
ragnarok_cast = ['Chris Hemsworth', 'Tessa Thompson', 'Cate Blanchett', 'Tom Hiddleston', 'Mark Ruffalo', 'Jeff Goldblum', 'Karl Urban', 'Idris Elba', 'Anthony Hopkins']

In [13]:
find_common(thor_2_cast, ragnarok_cast)

['Anthony Hopkins', 'Chris Hemsworth', 'Idris Elba', 'Tom Hiddleston']

In [5]:
set(thor_2_cast)

{'Anthony Hopkins',
 'Chris Hemsworth',
 'Idris Elba',
 'Jaimie Alexander',
 'Kat Dennings',
 'Natalie Portman',
 'Tom Hiddleston'}

In [6]:
set(ragnarok_cast)

{'Anthony Hopkins',
 'Cate Blanchett',
 'Chris Hemsworth',
 'Idris Elba',
 'Jeff Goldblum',
 'Karl Urban',
 'Mark Ruffalo',
 'Tessa Thompson',
 'Tom Hiddleston'}

In [7]:
set(thor_2_cast).intersection(set(ragnarok_cast))

{'Anthony Hopkins', 'Chris Hemsworth', 'Idris Elba', 'Tom Hiddleston'}

In [ ]:
# recursive function
# handle any number of parameters

In [16]:
def max_of_two(x, y):
    if x > y:
        print(x)
        return x
        
    return y


def max_of_three(x, y, z):
    return max_of_two(x, max_of_two(y, z))


print(max_of_three(10, 5, 9))

10
10

In [ ]:
def max_of_two(x, y):
    if x > y:
        return x
        print(x)
    else:
        return y

In [15]:
max_of_two(6, -5)

6

In [18]:
max(10, 5, 9, 12, 32)

32

In [19]:
class car:
    pass

In [21]:
toyota = car()
benz = car()
ford = car()

In [22]:
class car:
    mileage = 100
    wheel_size = 21

In [23]:
toyota = car()
benz = car()
ford = car()

In [24]:
name = 'Omolewa'

In [ ]:
name.

In [28]:
toyota.mileage

100

In [29]:
benz.mileage

100

In [30]:
ford.mileage

100

In [31]:
toyota.mileage = 20000

In [32]:
benz.mileage

100

In [33]:
ford.mileage

100

In [34]:
toyota.mileage

20000

In [35]:
class car:
    mileage = 100
    wheel_size = 21
    
    def multiply_mileage(self, mileage):
        return mileage * 50

In [36]:
toyota = car()
benz = car()
ford = car()

In [37]:
toyota.multiply_mileage(1000)

50000

In [42]:
class Mathematics:
    # constructor (init method)
    def __init__(self, x, y):
        print(f'You passed in {x} and {y}')

In [44]:
Mathematics(10, 30)

You passed in 10 and 30

In [50]:
class Mathematics:
    # constructor
    def __init__(self, x, y):
        print(f'You passed in {x} and {y}')
        self.fname = 'Omolewa'
        self.lname = 'Adaramola'
        print(self.fname, self.lname)

In [51]:
mth = Mathematics(10, 30)

You passed in 10 and 30
Omolewa Adaramola

In [47]:
mth.fname

'Omolewa'

In [60]:
class Mathematics:
    # constructor
    def __init__(self, x, y):
        print(f'You passed in {x} and {y}')
        self.fname = 'Omolewa'
        self.lname = 'Adaramola'
        self.mname = 'Bukola'
        
    def multiply(self):
        print(self.fname)

In [61]:
mth = Mathematics(10, 30)

You passed in 10 and 30

In [59]:
mth.

Omolewa

In [64]:
class Mathematics:
    # constructor
    def __init__(self, a, b):
        print(f'You passed in {a} and {b}')
        self.x = a
        self.y = b
        
    def multiply(self):
        return self.x * self.y

In [65]:
mth = Mathematics(10, 30)

You passed in 10 and 30

In [66]:
mth.multiply()

300

In [67]:
class Mathematics:
    # constructor
    def __init__(self, a, b):
        print(f'You passed in {a} and {b}')
        self.x = a
        self.y = b
        
    def multiply(self):
        return self.x * self.y
    
    def add(self):
        return self.x + self.y
    
    def multiply_add(self):
        return self.multiply() / self.add()

In [68]:
mth = Mathematics(10, 30)

You passed in 10 and 30

In [69]:
mth.multiply_add()

7.5

In [71]:
class Mathematics:
        
    def multiply(self, x, y):
        return x * y
    
    def add(self, x, y):
        return x + y
    
    def division(self, x, y):
        return x / y
    
    def modulo(self, x, y):
        return x % y

In [72]:
mth = Mathematics()

In [73]:
mth.add(4, 5)

9

In [74]:
mth.modulo(19, 8)

3

In [1]:
lis = ['a', 'b', 'd']

In [2]:
lis += 'qwfp'

In [ ]:
lis = lis + 'qwfp'

In [3]:
lis

['a', 'b', 'd', 'q', 'w', 'f', 'p']

In [4]:
lis2 = ['k', 'l']

In [5]:
lis += lis2

In [6]:
lis

['a', 'b', 'd', 'q', 'w', 'f', 'p', 'k', 'l']

In [ ]:
['a', 'b', 'd', 'qwfp']

In [7]:
# Inheritance

In [29]:
class Person:
    salary = 1000
    def __init__(self, name, id):
        self.name = name
        self.id = id
        
    def display(self):
        print(self.name, self.id)

In [16]:
person1 = Person('Omolewa', '100')
person2 = Person('Brown', 200)

In [18]:
person1.salary = 2000

In [19]:
person2.salary

1000

In [21]:
person1.salary

2000

In [30]:
class Emp(Person):
    def Print(self):
        print('Emp class called')
    def play(self):
        print('Playing')

In [26]:
emp = Emp('Omolewa', '100')

In [31]:
class EmpEmp(Emp):
    def plyinggolf(self):
        print('Omolewa')

In [32]:
p = EmpEmp('Omolewa', '100')

In [33]:
# Dunder

In [ ]:
# __add__

In [43]:
3 + 7

10

In [42]:
(3).__add__(7)

10

In [52]:
class Mathematics:
    def __init__(self, num):
        self.num = num
    
    def __add__(self, other):
        return other.num * (self.num) + self.num

In [48]:
3 + 4

7

In [ ]:
operators: + - * /

In [53]:
math1 = Mathematics(4)
math2 = Mathematics(9)

In [54]:
math1 + math2

40

In [51]:
4 + 9

13

In [55]:
pip install pandasql

Collecting pandasqlNote: you may need to restart the kernel to use updated packages.

  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in c:\users\adara\anaconda3\lib\site-packages (from pandasql) (1.19.5)
Requirement already satisfied: pandas in c:\users\adara\anaconda3\lib\site-packages (from pandasql) (1.2.4)
Requirement already satisfied: sqlalchemy in c:\users\adara\anaconda3\lib\site-packages (from pandasql) (1.4.7)
Requirement already satisfied: pytz>=2017.3 in c:\users\adara\anaconda3\lib\site-packages (from pandas->pandasql) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\adara\anaconda3\lib\site-packages (from pandas->pandasql) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\adara\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\adara\anaconda3\lib\site-packages (from sqlalchemy->pandasql) (1.0.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py): started
  Building wheel for pandasql (setup.py): finished with status 'done'
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26818 sha256=893a599ee8288bb762c6db814a5c223bdb33c70f55bc70a782074d5f02d6dd3f
  Stored in directory: c:\users\adara\appdata\local\pip\cache\wheels\ed\8f\46\a383923333728744f01ba24adbd8e364f2cb9470a8b8e5b9ff
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [57]:
import pandas as pd

In [58]:
df = pd.read_csv('train.csv')

In [59]:
df.head()

  dispatching_base_number      date  active_vehicles  trips
0                  B02512  1/1/2015              190   1132
1                  B02765  1/1/2015              225   1765
2                  B02764  1/1/2015             3427  29421
3                  B02682  1/1/2015              945   7679
4                  B02617  1/1/2015             1228   9537

In [60]:
from pandasql import sqldf

In [62]:
sqldf("SELECT * FROM df LIMIT 10;")

  dispatching_base_number      date  active_vehicles  trips
0                  B02512  1/1/2015              190   1132
1                  B02765  1/1/2015              225   1765
2                  B02764  1/1/2015             3427  29421
3                  B02682  1/1/2015              945   7679
4                  B02617  1/1/2015             1228   9537
5                  B02598  1/1/2015              870   6903
6                  B02598  1/2/2015              785   4768
7                  B02617  1/2/2015             1137   7065
8                  B02512  1/2/2015              175    875
9                  B02682  1/2/2015              890   5506

In [72]:
sqldf("SELECT date, active_vehicles FROM df ORDER BY active_vehicles DESC").head(9)

        date  active_vehicles
0  2/13/2015             4395
1  2/20/2015             4384
2  2/27/2015             4253
3   2/6/2015             4170
4  2/12/2015             4137
5  2/14/2015             4129
6  1/30/2015             4124
7  2/19/2015             4110
8  2/26/2015             4101

In [129]:
class Polygon:
    def __init__(self, no_of_sides):
        assert no_of_sides > 2, 'The number of sides should be greater than 2'
        self.n = no_of_sides
        self.sides = [0 for i in range(no_of_sides)]

    def inputSides(self):
        self.sides = [float(input(f'Enter Side {i + 1}: ')) for i in range(self.n)]

    def dispSides(self):
        for i in range(self.n):
            print("Side",i+1,"is",self.sides[i])
            
    def isRightAngle(self):
        if self.n != 3:
            return False
        sides_sorted = sorted(self.sides)
        if sides_sorted[2] ** 2 == sides_sorted[0] ** 2 + sides_sorted[1] ** 2:
            return True

In [141]:
class Triangle(Polygon):
    def __init__(self, n):
        Polygon.__init__(self, n)

    def findArea(self):
        a, b, c = self.sides
        # calculate the semi-perimeter
        s = (a + b + c) / 2
        area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
        print('The area of the triangle is %0.2f' %area)

In [ ]:
class Paralellogram(Polygon):
    def __init__(self, n):
        Polygon.__init__(self, n)
    
    def findArea(self):

In [151]:
[3, 5, 6, 7]

[3, 5, 6, 7]

In [147]:
tri = Triangle(3)

In [148]:
tri.inputSides()

Enter Side 1: 3
Enter Side 2: 5
Enter Side 3: 4

In [149]:
tri.findArea()

The area of the triangle is 6.00

In [150]:
tri.isRightAngle()

True

In [143]:
tri.findArea()

The area of the triangle is 0.00

In [ ]:
tri.findArea

In [132]:
Triangle()
Polygon()

TypeError: __init__() missing 1 required positional argument: 'no_of_sides'

In [124]:
poly.inputSides()

Enter Side 1: 3
Enter Side 2: 4
Enter Side 3: 5
Enter Side 4: 10

In [125]:
poly.dispSides()

Side 1 is 3.0
Side 2 is 4.0
Side 3 is 5.0
Side 4 is 10.0

In [126]:
poly.isRightAngle()

False

In [100]:
unittesting

'101010'

In [114]:
k = [2, 9, 1, 4]

In [116]:
sorted(k)

[1, 2, 4, 9]

In [117]:
k

[2, 9, 1, 4]

In [144]:
a, b, c, d = [2, 9, 1, 4]

In [145]:
a

2

In [146]:
d

4