In [1]:
import pandas as pd
from common.transformation import Transformation as Trans

In [2]:
pd.set_option('display.max_columns', 100)
df = pd.read_csv('kc_house_data.csv')

In [3]:
trans= Trans(df)

In [4]:
new_df = trans.run()

In [5]:
new_df.head()

,ID,Date,Price,Bedrooms,Bathrooms,Sqft_Living,Sqft_Lot,Floors,Waterfront,View,Condition,Grade,Sqft_Above,Sqft_Basement,Yr_Built,Yr_Renovated,Zipcode,Lat,Long,Sqft_Living15,Sqft_Lot15
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,Good,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,Good,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,Good,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,Excellent,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,Good,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [ ]:
df['Condition'].unique()

In [ ]:
1 - very Bad
2 - Bad
3 - Good
4 - very Good
5 - Excellent

In [ ]:
cond_dict = {1: 'Very_Bad', 2: 'Bad', 3: 'Good', 4: 'Very_Good', 5: 'Excellent'}

In [ ]:
cond_dict = {1: 'Very_Bad', 2: 'Bad', 3: 'Good', 4: 'Very_Good', 5: 'Excellent'}
df['Condition'] = df['Condition'].apply(lambda col: cond_dict[col])

In [ ]:
df.head()

In [ ]:
pd.set_option('display.max_columns', 100)

In [ ]:
d.set_option('display.max_columns', 100)
df = pd.read_csv('kc_house_data.csv')

In [ ]:
df.head()

In [ ]:
pd.to_datetime(df['date'])

In [ ]:
def convert_date(date_column):
    return pd.to_datetime(date_column)

In [ ]:
convert_date(df['date'])

In [ ]:
df['Omolewa'] = convert_date(df['Date'])

In [ ]:
df

In [ ]:
df.rename(columns={'id': 'ID', 'price': 'PRICE'}, inplace=True)

In [ ]:
df

In [ ]:
def change_col_names(col_name_list):
    col_name_dict = {}
    for col_name in col_name_list:
        if len(col_name) == 2:
            col_name_dict[col_name]= col_name.upper()
        elif col_name.count('_') == 0:
            col_name_dict[col_name]= col_name.capitalize()
        else:
            col_name_dict[col_name]= '_'.join([word.capitalize() for word in col_name.split('_')])
    
    return col_name_dict

In [ ]:
change_col_names(df.columns)

In [ ]:
df.rename(columns=change_col_names(df.columns), inplace=True)

In [ ]:
df

In [ ]:
def cal(lis):
    for i in lis:
        return i * 2

In [ ]:
cal([2, 4, 6, 8, 10])

In [ ]:
name = 'sqft_living_USA_qw_rps_ope'

In [ ]:
'_'.join([word.capitalize() for word in name.split('_')])

In [ ]:
'#'.join(['1', '2', '3'])

In [ ]:
# transform the column names
# reformat the date column